@page "/Account/ConfirmEmail"

@if (!_status.Any() && !_errors.Any())
{
    <h1>Register confirmation</h1>
    <p>Please check your email to confirm your account.</p>
}
else
{
    @if (_errors.Any())
    {
        <h4>Oops! Something went wrong!</h4>
        <div class="pt-4">
            @foreach (var error in _errors)
            {
                <div class="alert alert-error" role="alert">@error</div>
            }
        </div>
        <p>Please contact customer service.</p>
    }
    else
    {
        <h4>You're email was confirmed!</h4>
        @if (_status.Any())
        {
            <div class="pt-4">
                @foreach (var status in _status)
                {
                    <div class="alert-primary" role="alert">@status</div>
                }
            </div>
        }
    }
}
