@page "/Account/ForgotPassword"

<h4>Forgot Password</h4>
<EditForm Model="_model" 
          OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <InputText @bind-value="_model.Email" class="form-control" placeholder="E-Mail Address" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<h2>@StatusMessage</h2>
