@page "/Account/ResetPassword"

<h3>Reset Password</h3>

<EditForm Model="_model" 
          OnSubmit="OnSubmit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="_model.Code" type="hidden" />
    <div class="form-group">
        <label>User Name</label>
        <InputText @bind-value="_model.UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText type="password" @bind-value="_model.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <InputText type="password" @bind-value="_model.ConfirmPassword" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Reset</button>
</EditForm>

<h4>@((MarkupString)StatusMessage)</h4>

@code {
    
}
