
@inherits LayoutComponentBase

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-6 text-center shadow-lg rounded p-3 mt-5" style="background-color: @BlazorIdentityOptions.Value.Theme.BackgroundColor">
            @Body
        </div>
    </div>
</div>

@code
{
    [Inject]
    IOptions<BlazorIdentityOptions> BlazorIdentityOptions { get; set; } = null!;
}

<style>
    body {
        background-color: @BlazorIdentityOptions.Value.Theme.GutterColor
    }
</style>